<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="login.css">
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src = "login.js" type="text/javascript"></script>
</head>
<body>
   

  <div class = "login-page">
  <p>
    
    <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="login">Sign In</a></p>
      </form>
    </div>
</body>
</html>